
.dashboardOrder {
    width : 340px;
    min-height : 100%;
    position : fixed;
    top : 0;
    right : 0;
    padding : 0.5rem 1.5rem;
    background-color: var(--mainColor);
    z-index : 2;
}

.dashboardOrder > h3 {
    padding : 10px 0;
}

.dashboardOrder .orderAddress > h4 {
    line-height : 2;
}

.dashboardOrder .orderTime {
    font-size : 0.8rem;
    color : var(--darkGrey)
}

.orderWrapper {
    height : 180px;
    width : 100%;
    overflow-y : scroll;
    margin : 20px 0;
}

/* custom scroll */
.orderWrapper::-webkit-scrollbar {
    width : 7px;
}

.orderWrapper::-webkit-scrollbar-track {
    background-color: var(--lightGrey);
    border-radius : 20px;
}

.orderWrapper::-webkit-scrollbar-thumb {
    background-color : var(--darkGrey);
    border-radius : 20px;
}

.orderWrapper .orderCard {
    display : grid;
    grid-template-columns: 0.6fr 1fr 0.5fr;
    padding : 10px 0;
    gap : 5px;
    justify-content: space-around;
    align-items: flex-start;
}

.orderWrapper .orderCard .orderImage {
    width : 70px;
    height : 70px;
    object-fit : cover;
    border-radius: 15px;
}

.orderWrapper .orderCard .orderDetail > input {
    width : 35px;
    height : 35px;
    text-align : center;
    border : 2px solid var(--grey);
    border-radius: 10px;
    background-color: transparent;
    margin-left: 10px;
}

.divider {
    width : 100%;
    border : 1px dashed var(--grey);
}

.orderTotal > p {
    padding : 10px 0;
}

.orderTotal > p > span {
    float : right;
    font-weight: 600;
}

.orderPromo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightGrey);
    border : 2px solid var(--grey);
    border-radius: 10px;
    height : 45px;
    padding : 0 5px;
    margin : 5px 0 10px 0;
}

.inputPromo {
    height : 100%;
    background-color: transparent;
    border : none;
}

.buttonPromo {
    float : right;
    background-color: var(--yellow);
    border : none;
    border-radius: 5px;
    height : 80%;
    width : 100%;
    cursor : pointer;
}

.checkout {
    width : 100%;
    height : 40px;
    text-align: center;
    background-color: var(--red);
    border : none;
    border-radius: 20px;
    color : var(--lightGrey);
    cursor : pointer;
}

.checkout:hover {
    text-transform: uppercase;
    font-weight: 600;
}

@media screen and (max-width:680px) {
    .dashboardOrder {
        width : 100%;
        left : 0;
    }
  }