
.sidebarMenu {
    width : 100%;
    text-align : center;
    padding : 10px 5px;
    color : var(--darkGrey);
    cursor : pointer;
}

.sidebarMenu > a {
    text-decoration: none;
    font-size : 0.7rem;
    line-height : 1.5;
    color : var(--darkGrey);
}

.sidebarMenu:hover {
    border-right : 2px solid var(--yellow);
    color : var(--yellow)
}

.sidebarMenu:hover > a {
    color : var(--yellow);
}