.dashboard-content .dashboard-card {
    background-color: var(--mainColor);
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
    border-radius: 15px;
    position : relative;
    cursor : pointer;
}

.dashboard-card:hover {
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

.dashboard-content .dashboard-card .card-image {
    width : 100%;
    height : 150px;
    object-fit : cover;
    border-radius: 15px;
}

.dashboard-content .dashboard-card .card-detail {
    padding : 15px;
}

.dashboard-content .dashboard-card .card-detail > h4 > span {
    float : right;
}

.dashboard-content .dashboard-card .card-detail .card-time {
    color : var(--darkGrey);
    font-size : 0.8rem;
    padding-top : 10px;
}

.btn-group {
    display : grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap : 10px;
    margin-top : 20px;
}

.dashboard-content .dashboard-card .btn-order {
    background-color: var(--red);
    color : var(--lightGrey);
    width : 100%;
    padding : 15px 0;
    border-radius: 20px;
    border : none;
    cursor : pointer;
}

.dashboard-content .dashboard-card .btn-order:hover {
    background-color : #000;
    font-weight: 800;
}

.dashboard-content .dashboard-card .btn-order:hover:before {
    content : '▶ ';
}

.dashboard-content .dashboard-card .btn-order:hover:after {
    content : ' ◀';
}

.dashboard-content .dashboard-card .btn-together {
    background-color: var(--blue);
    color : var(--lightGrey);
    width : 100%;
    padding : 15px 0;
    border-radius: 20px;
    border : none;
    cursor : pointer;
}

.dashboard-content .dashboard-card .btn-together:hover {
    background-color : #000;
    font-weight: 800;
}

.dashboard-content .dashboard-card .btn-together:hover:before {
    content : '▶ ';
}

.dashboard-content .dashboard-card .btn-together:hover:after {
    content : ' ◀';
}